<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Skill Swap Home</title>
</head>

<body>

<body>
    <header>
        <h1>Skill Swap Home</h1>
        <!-- make a button in the header that when clicked, takes the user to their own profile -->
        <button id="profileBtn" onclick="window.location.href = '/myProfile'">My Profile</button>
    </header>

    <main>
        <h2 id="seniorlbl" style="color: #52318f;">Seniors</h2>
        <br>
        <h2 id="juniorlbl" style="color: #52318f;">Juniors</h2>
        <% users.forEach(user=> { %> <!-- loops through all the users in the database -->
            <% if (user.Class=='Senior' ) { %> <!-- checks if the user is a senior -->
                <div id="class-senior" class="<%= user.Name %>">
                    <div id="user-profile" onclick="window.location.href = '/profiles/<%- user.ID %>'">
                        <h3 style="font-size: 130%; color: #52318f; text-decoration: underline;"><%= user.Name %></h3>
                        <p>Email: <br> <%= user.Email %></p>
                        <p>Skills: <br> <%= user.Skills %></p>
                        <p>Seeking Job in: <br><%= user.Seeking %></p>
                        <p>Current Job: <br> <%= user.Job %></p>
                        <p>...............</p>
                        <h3 style="color: #52318f; text-decoration: underline; font-size: 120%;">About Me</h3>
                        <p style="font-weight: 900; font-size: 110%;"><%= user.Class %></p>
                        <p> <%= user.Description %></p>
                    </div>
                </div>

            <% } else if (user.Class=='Junior' ) { %> <!-- checks if the user is a junior -->
                <div id="class-junior" class="<%= user.Name %>">
                    <div id="user-profile" onclick="window.location.href = '/profiles/<%- user.ID %>'">
                        <h3 style="font-size: 130%; color: #52318f; text-decoration: underline;"><%= user.Name %></h3>
                        <p>Email: <br> <%= user.Email %></p>
                        <p>Skills: <br> <%= user.Skills %></p>
                        <p>Seeking Job in: <br> <%= user.Seeking %></p>
                        <p>Current Job: <br> <%= user.Job %></p>
                        <p>...............</p>
                        <h3 style="color: #52318f; text-decoration: underline; font-size: 120%;">About Me</h3>
                        <p style="font-weight: 900; font-size: 110%;">
                            <%= user.Class %>
                        </p>
                        <p>
                            <%= user.Description %>
                        </p>
                    </div>
                </div>
            <% } %>
        <% }); %> <!-- end of loop -->
    </main>

    <!--displays sidebars and content in the sidebars-->
    <div id="Sidebar">
        <form class="search" action="/search" method="GET">
            <input class="t-box" type="text" name="query" placeholder="Search users"> <br>
            <button id="searchbtn" type="submit">Search</button> <br>
        </form>
        
        <h2>Filter by Grade</h2>
        <button id="sidebarButton" onclick="filter('Senior')">Seniors</button>
        <button id="sidebarButton" onclick="filter('Junior')">Juniors</button>
        <button id="sidebarButton" onclick="filter('All')">Both</button>
        <button id="sidebarButton" onclick="window.location.href = '/alumni'">Past Alumni</button> <br>
        <button id="sidebarButton" onclick="window.location.href = '/certificationTest'">Certification Tests</button>
        <button id="sidebarButton" onclick="window.location.href = '/showcase'">Company Showcase</button> <br>
        <button id="sidebarButton" onclick="window.location.href = '/login'">Logout</button>
    </div>

    <footer>
        <p>&copy; Skill Swap Network</p>
    </footer>
    <script>
        //DONT TOUCH THIS CODE, THE ERROR IS SUPPOSED TO BE THERE
        var users = <% - JSON.stringify(users) %>;
        //a function used to filter the users based on their grade
        function filter(grade) {
            for (const user of users) {
                if (user.Class == grade) {
                    console.log(document.getElementsByClassName(user.Name));
                    document.getElementsByClassName(user.Name)[0].style.display = 'flex';
                }
                else if (grade == 'All') {
                    document.getElementsByClassName(user.Name)[0].style.display = 'flex';
                }
                else {
                    console.log(user.Name);
                    document.getElementsByClassName(user.Name)[0].style.display = 'none';
                };
            };
        };

        function searchUsers() {
            var searchTerm = document.getElementById('search').value.toLowerCase();
            for (const user of users) {
                var skills = user.Skills.toLowerCase();
                if (skills.includes(searchTerm)) {
                    document.getElementsByClassName(user.Name)[0].style.display = 'flex';
                } else {
                    document.getElementsByClassName(user.Name)[0].style.display = 'none';
                };
            };
        };
    </script>
</body>

</html>