<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Skill Swap Home</title>
</head>

<body>
    <header>
        <h1>Skill Swap Home</h1>
    </header>
    <main>
        <button id="logoutbtn" onclick="window.location.href = '/login'">Logout</button>

        <form class="search" action="/search" method="GET">
            <input class="t-box" type="text" name="query" placeholder="Search users">
            <button id="searchbtn" type="submit">Search</button>
        </form>

        <!-- <h2 class="home-sections" style="color: rgb(68, 17, 116); font-size: 180%;">All Users</h2> -->

                <h2 id="seniorlbl" style="color: rgb(90, 26, 150);">Seniors</h2>
                <br>
                <h2 id="juniorlbl" style="color: rgb(90, 26, 150);">Juniors</h2>
                <% users.forEach(user=> { %>
                    <% if (user.Class == 'Senior' ) { %>
                        <div id="class-senior">
                            <div id="user-profile" onclick="window.location.href = '/profiles'"> 
                                <h3 style="font-size: 130%; color: rgb(90, 26, 150); text-decoration: underline;"><%= user.Name %></a></h3>
                                <p>Email: <%= user.Email %></p>
                                <p>Skills: <%= user.Skills %></p>
                                <p>Seeking Job in: <%= user.Seeking %></p>
                                <p>Current Job: <%= user.Job %></p>
                                <p>...............</p>
                                <h3 style="color: rgb(90, 26, 150); text-decoration: underline; font-size: 120%;">About Me</h3>
                                <p style="font-weight: 900; font-size: 110%;"><%= user.Class %></p>
                                <p><%= user.Description %></p>
                            </div>
                        </div>
                    <% } else if (user.Class == 'Junior' ) { %>
                        <div id="class-junior">
                            <div id="user-profile" onclick="window.location.href = '/profiles'">
                                <h3 style="font-size: 130%; color: rgb(90, 26, 150); text-decoration: underline;"><%= user.Name %></a></h3>
                                <p>Email: <%= user.Email %></p>
                                <p>Skills: <%= user.Skills %></p>
                                <p>Seeking Job in: <%= user.Seeking %></p>
                                <p>Current Job: <%= user.Job %></p>
                                <p>...............</p>
                                <h3 style="color: rgb(90, 26, 150); text-decoration: underline; font-size: 120%;">About Me</h3>
                                <p style="font-weight: 900; font-size: 110%;"><%= user.Class %></p>
                                <p><%= user.Description %></p>
                            </div>
                        </div>                   
                    <% } %>
                <% }); %>
                <h2 id="juniorlbl" style="color: rgb(90, 26, 150);">Past Alumni</h2>
    </main>
    <footer>
        <p>&copy; Skill Swap Network</p>
    </footer>
</body>

</html>