<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Skill Swap Network</title>
</head>
<body>
    <header>
        <h1>Skill Swap Network Home</h1>
    </header>
    <main>
        <button id="logoutbtn" onclick="window.location.href = '/login'">Logout</button>

        <form class="search" action="/search" method="GET">
            <input class="t-box" type="text" name="query" placeholder="Search users">
            <button id="searchbtn" type="submit">Search</button>
        </form>

        <h2 class="home-sections" style="color: rgb(68, 17, 116);">User Profiles</h2>
        <section id="user-profiles">
            <% users.forEach(user => { %>
                <div id="user-profile" onclick="window.location.href = '/profiles'">
                    <h3 style="font-size: 130%; color: rgb(90, 26, 150); text-decoration: underline;"><%= user.Name %></a></h3>
                    <p>Email: <%= user.Email %></p>
                    <p>Skills: <%= user.Skills %></p>
                    <p>Seeking Job in: <%= user.Seeking %></p>
                    <p>...............</p>
                    <h3 style="color: rgb(90, 26, 150); text-decoration: underline; font-size: 120%;">About Me</h3>
                    <p style="font-weight: 900; font-size: 110%;"><%= user.Class %></p>
                    <p><%= user.Description %></p>
                </div>
            <% }); %>
        </section>
    </main>
    <footer>
        <p>&copy; Skill Swap Network</p>
    </footer>
</body>
</html>