<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width">
    <title>Skill Swap Network</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- Header section -->
    <header>
        <h1>Skill Swap Users</h1>
    </header>

    <!-- Profile section -->
    <div id="profilePage">
        <!-- Back to Home button -->
        <button id="logoutbtn" onclick="window.location.href = '/index'">Back to Home</button>
        <br>
        <h1>
            <%= user.Name %>'s Profile
        </h1>
        <!-- Check if user has skills -->
        <% if (user.Skills !=null || user.Skills !="" ) { %>
            <!-- Display user's skills -->
            <p>Skills: <%= user.Skills %>
            </p>
        <% } else { %>
            <!-- Display message if no skills listed -->
            <p>No skills listed</p>
        <% } %>
        <% if (user.Seeking !=null || user.Seeking !="" ) { %>
            <!-- Display user's job preferences -->
            <p>Seeking Job in: <%= user.Seeking %>
            </p>
        <% } else { %>
            <!-- Display message if no job preferences listed -->
            <p>No job preferences listed</p>
        <% } %>

        <!-- Display user's description -->
        <p>About Me: <%= user.Description %>
        </p>

        <!-- File upload form -->
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="hidden" name="userName" value="<%= user.Name %>" />
            <label for="file">File</label>
            <input id="file" name="file" type="file" />
            <button>Upload</button>
        </form>
    </div>

    <!-- Logout button -->
    <button id="logoutbtn" onclick="window.location.href = '/login'">Logout</button>

    <!-- Footer section -->
    <footer>
        <p>&copy; Skill Swap Network</p>
    </footer>

</html>